body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #303030;
    font-family: Roboto, sans-serif;
}

.header{
    background-color: white;
    display: flex;
    padding: 16px 64px 64px 64px;
}

.navigation {
    align-self: center;
    margin-left: auto;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #303030;
}

.website-info{
    padding: 0 64px;
    display: flex;
    background-color: white;
    padding-bottom: 16px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.website-info-left{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 64px;
}

.website-info-right{
    display: flex;
    flex: 1;
    justify-content: center;
}

.website-info-name{
    font-size: 32px;
    font-weight: bold;
    white-space: nowrap;
}

.website-info-description{
    max-width: 500px;
}

.newsletter-button,
#sub-button{
    border-radius: 16px;
    background-color: #303030;
    color: white;
    font-weight: 900;
    padding: 8 8px;
    width: 100px;
    height: 30px;
    margin: 16px 0;
    border: none;
}

.whale-info{
    background-color: #303030;
    padding: 64px 0;
}

.whale-quote{
    background-color: #D9D9D9;
}

.subscribe {
    background-color: #303030;
    padding: 64px 64px 64px 64px;
    display: flex;
    justify-content: center;
}

#img-banner{
    width: 500px;
    max-height: 250px;
    border-radius: 32px;
    align-self: center;
}

button{
    cursor: pointer;
}

.whale-cards{
    display: flex;
    padding: 0 64px;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.whale1,
.whale2,
.whale3{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 32px;
    padding: 16px;
    max-width: 270px;
    gap: 16px;
}

#whale{
    border-radius: 16px;
}

.whale-quote{
    display: flex;
    padding: 32px 48px 32px 48px;
    flex-direction: column;
}
.quote{
    width: 500px;
    align-self: center;
    font-style: italic;
}
.quote-author{
    width: 500px;
    align-self: center;
    text-align: end;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}

.subscribe-info{
    display: flex;
    width: fit-content;
    background-color: white;
    gap: 16rem;
    padding: 16px;
    border-radius: 32px;
}

.subscribe-text{
    width: fit-content;
    align-self: center;
}

.footer{
    background-color: white;
    text-align: center;
    padding: 16px 0 8px 0;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}